absl-py==0.7.1
asgiref==3.2.7
certifi==2019.11.28
chardet==3.0.4
coverage==5.1
cycler==0.10.0
Django==3.0.6
django-cors-headers==3.3.0
django-filter==2.2.0
djangorestframework==3.11.0
enum34==1.1.6
futures==3.1.1
grpcio==1.22.0
h5py==2.8.0
idna==2.9
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
Markdown==3.1.1
matplotlib==3.0.0
mysql-connector==2.2.9
numpy==1.15.1
opencv-python==4.2.0.32
pandas==0.23.4
Pillow==7.0.0
protobuf==3.6.1
psycopg2==2.8.4
PyMySQL==0.9.3
pyparsing==2.2.1
python-dateutil==2.7.3
python-firebase==1.2
pytz==2018.5
PyYAML==3.13
requests==2.23.0
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
sklearn==0.0
sqlparse==0.3.0
tb-nightly==1.15.0a20190708
tensorflow==1.0.0
urllib3==1.25.8
virtualenv==16.7.7
Werkzeug==0.15.4
